.bar{
    font-size: .875rem;
    padding: 0.1em;
    background-color: rgb(21, 21, 21);
    border-radius: 0.375rem;
    margin: 0.1em;
}
.loader {
    float:right;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    background: linear-gradient(#eb31b0, #e4c352, #7df8d6);
    animation: animate 1s linear infinite;
  }
  
  .loader::before {
    border-radius: 2rem;
    position: absolute;
    content: "";
    background: #000000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border: 0 solid white;
  }
  
  @keyframes animate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .autoBtn{
    background-color: black;
    float:right;
    color: grey;
    font-size: .875rem;
    padding: 0.1em;
  }